In [1]:
import quandl
#visualizing: Correlation function (monthly)

In [2]:
quandl.ApiConfig.api_key = "<ENTER API CODE HERE>"

In [8]:
data = quandl.get("EOD/AAPL", start_date="2018-01-01", end_date="2019-01-04", collapse="monthly")

In [9]:
data

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2018-01-31,166.8700,168.4417,166.50,167.43,32478930.0,0.0,1.0,164.403748,165.952219,164.039216,164.955471,32478930.0
2018-02-28,179.2600,180.6150,178.05,178.12,37782138.0,0.0,1.0,177.321996,178.662347,176.125077,176.194320,37782138.0
2018-03-31,167.8050,171.7500,166.90,167.78,38398505.0,0.0,1.0,165.990837,169.893187,165.095621,165.966108,38398505.0
2018-04-30,162.1302,167.2600,161.84,165.26,42427424.0,0.0,1.0,160.377388,165.451729,160.090326,163.473352,42427424.0
2018-05-31,187.2200,188.2300,186.14,186.87,27482793.0,0.0,1.0,185.912801,186.915749,184.840342,185.565245,27482793.0
2018-06-30,186.2900,187.1900,182.91,185.11,22737666.0,0.0,1.0,184.989295,185.883011,181.632894,183.817534,22737666.0
2018-07-31,190.3000,192.1400,189.34,190.29,39373038.0,0.0,1.0,188.971296,190.798449,188.017999,188.961366,39373038.0
2018-08-31,226.5100,228.8700,226.00,227.63,43340134.0,0.0,1.0,225.719673,228.071438,225.211452,226.835765,43340134.0
2018-09-30,224.7900,225.8400,224.02,225.74,22929364.0,0.0,1.0,224.005674,225.052010,223.238361,224.952359,22929364.0
2018-10-31,216.8800,220.4500,216.62,218.86,38358933.0,0.0,1.0,216.123273,219.680817,215.864180,218.096365,38358933.0
2018-11-30,180.2900,180.3300,177.03,178.58,39531549.0,0.0,1.0,180.290000,180.330000,177.030000,178.580000,39531549.0
2018-12-31,158.5300,159.3600,156.48,157.74,35003466.0,0.0,1.0,158.530000,159.360000,156.480000,157.740000,35003466.0
2019-01-31,144.5300,148.5499,143.80,148.26,58607070.0,0.0,1.0,144.530000,148.549900,143.800000,148.260000,58607070.0

In [27]:
housing = quandl.get('ZILLOW/C537_MSPAH', start_date="2015-01-01", end_date="2016-01-01")

In [28]:
housing

                   Value
Date
2015-02-28  1.556154e+06
2015-03-31  1.526235e+06
2015-04-30  1.612950e+06
2015-05-31  1.701250e+06
2015-06-30  1.696750e+06
2015-07-31  1.735000e+06
2015-08-31  1.723000e+06
2015-09-30  1.687750e+06
2015-10-31  1.576500e+06
2015-11-30  1.633300e+06
2015-12-31  1.668700e+06